node_modules/
package-lock.json

Diseño kindle +
Diseño phone: SONIA
Comprobar giro páginas con otro móvil (funciona bien con el de Sergi)
Subrayar cosas. 
Interfaz con los libros
Cambiar de libro
movimiento vertical salir del libro
movimiento apagar pantalla
movimiento me he quedado dormido: quieto 3 minutos?
hablar, añadir notas
Personalizar movimiento?
3 controles para pasar pagina 
meter libros de imagines para tener dos tipos de libros
zoom podría estar guay para imágenes sobre todo.
que lea por ti el libro. 
Preguntas a la IA (if if if if if if)
traducir parrafos porque palabras sueltas suena movida.
meter boton de desactivar micro.

HAY QUE HACER VIDEOS DE LAS FUNCIONALIDADES.
