@import url("font.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.google-icon {
  font-family: 'Material Symbols Outlined';
  font-size: 48px;
  cursor: pointer;
  color: #9aa0a6;
  transition: color 0.3s ease, font-variation-settings 0.3s ease;

  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

.google-icon.filled {
  color: #4285F4;
  /* Color de Google (o el que prefieras para el estado activo) */
  /* Cambiamos FILL a 1 para que se rellene */
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

.google-icon:not(.filled):hover {
  color: #bdc1c6;
}

.google-icon.filled:hover {
  color: #1a73e8;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f1f1ef;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3d3d3d;
  color: white;
  padding: 10px 20px;
  position: relative;
}

#library-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#library-button:hover {
  background-color: #1f1f1f;
}

.menu-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.menu-button {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #333;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
  min-width: 200px;
  padding: 10px;
}

.dropdown h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.dropdown div {
  margin-bottom: 10px;
}

.dropdown button {
  display: block;
  margin: 2px;
  padding: 5px;
  width: 100%;
  cursor: pointer;
}

.menu-container:hover .dropdown {
  display: block;
}

.content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}

#reader {
  width: 90%; /* 80% del contenedor padre */
  height: 80vh; /* 80% de la altura de la ventana del navegador */
  min-width: 600px; /* Asegura que el ancho no baje de 600px */
  min-height: 400px; /* Asegura que la altura no baje de 400px */
  max-height: 80vh; /* Limita la altura máxima a 80% de la ventana */
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: justify;
  white-space: pre-wrap; /* Respeta los saltos de línea y los espacios */
  font-size: 20px;
  line-height: 1.5;
  word-wrap: break-word;
}

.nav-button {
  background-color: #333;
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #555;
}

.modo-dia {
  background-color: #ffffff;
  color: #000000;
}

.modo-noche {
  background-color: #1e1e1e;
  color: #ffffff;
}

.modo-lectura {
  background-color: #d4cdb7e1;
  color: #4a3828;
}

/* BOOK SELECTOR */
#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f1f1ef;
  margin-top: 2rem;
}

.books-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  height: 100%;
  width: 100%;
}

.books-container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Espacio entre los libros */
  padding: 10px;
  width: 100%;
  max-width: 1200px; /* Limitar el ancho máximo del contenedor */
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 350px; /* Altura fija para los libros */

  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.book img {
  align-items: center;
  max-width: 100%;
  max-height: 80%;
  border-radius: 10px;
}

.book:hover {
  transform: scale(1.05); /* Aumenta el tamaño del libro al pasar el mouse */
  transition: transform 0.2s; /* Transición suave */
}

.book p {
  margin-top: 8px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #333;
}
