@import url("font.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f1f1ef;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  position: relative;
}

.menu-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.menu-button {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #333;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
  min-width: 200px;
  padding: 10px;
}

.dropdown h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.dropdown div {
  margin-bottom: 10px;
}

.dropdown button {
  display: block;
  margin: 2px;
  padding: 5px;
  width: 100%;
  cursor: pointer;
}

.menu-container:hover .dropdown {
  display: block;
}

.content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.viewer-container {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
  gap: 20px;
}
.reader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#reader {
  width: 80vw;
  height: calc(100vh - 200px);
  max-width: 1000px;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
  border-radius: 0.5rem; /* Rounded corners for the viewer */
  overflow: hidden; /* Hide overflow */
}

.nav-button {
  background-color: #333;
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #555;
}

.modo-dia {
  background-color: #ffffff;
  color: #000000;
}

.modo-noche {
  background-color: #1e1e1e;
  color: #ffffff;
}

.modo-lectura {
  background-color: #d4cdb7e1;
  color: #4a3828;
}

/* BOOK SELECTOR */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f1f1ef;
}

.books-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  height: 100%;
  width: 100%;
}

.books-container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Espacio entre los libros */
  padding: 10px;
  width: 100%;
  max-width: 1200px; /* Limitar el ancho máximo del contenedor */
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 350px; /* Altura fija para los libros */

  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.book img {
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.book:hover {
  transform: scale(1.05); /* Aumenta el tamaño del libro al pasar el mouse */
  transition: transform 0.2s; /* Transición suave */
}

.book p {
  margin-top: 8px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #333;
}
